<h2><%= @post.title %></h2>
<h3>
  Categories:
  <% @post.categories.each_with_index do |category, index| %>
    <% if index == @post.categories.size - 1 %>
      <%= category.name %>
    <% else %>
      <%= category.name %>,
    <% end %>
  <% end %>
</h3>

