/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
* vendor/assets/stylesheets directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the bottom of the
* compiled file so the styles you add here take precedence over styles defined in any other CSS
* files in this directory. Styles in this file should be added after the last require_* statement.
* It is generally better to create a new file per style scope.
*
*= require_tree .
*= require_self
*/

:root {
  --primary-color: #ff1481;
  --primary-color-hover: #bf0431;
  --secondary-color: #272727;
  --secondary-color-hover: #676767;
  --tertiary-color: #ff77d4;
}

.oswald-font {
  font-family: "Oswald", sans-serif;
}

.title-1 {
  font-weight: 900;
}

.button-primary {
  background-color: var(--primary-color);
}

.button-primary:hover {
  background-color: var(--primary-color-hover);
}

.button-primary-invert {
  background-color: white;
  border: var(--primary-color) 1px solid;
  color: var(--primary-color);
}

.button-primary-invert:hover {
  background-color: #eee;
}

.comments-title {
  background-color: var(--tertiary-color);
}

.comment {
  background-color: var(--secondary-color);
}

.bg-primary {
  background-color: var(--primary-color);
}

.bg-secondary {
  background-color: var(--secondary-color);
}

.border-secondary {
  border-color: var(--secondary-color);
  border-width: 1px;
}

.button-secondary {
  background-color: var(--secondary-color);
}

.button-secondary:hover {
  background-color: var(--secondary-color-hover);
}

.alert-style {
  background-color: rgb(255, 94, 94);
}

.notice-style {
  background-color: #424B54;
}

.bg-tertiary {
  background-color: var(--tertiary-color);
}

.danger-color {
  color: rgb(255, 94, 94);
}
