<li class="flex justify-between gap-x-6 py-5 px-6">
  <div class="flex min-w-0 gap-x-4">
    <div class="min-w-0 flex-auto">
      <p class="text-sm/12 font-semibold text-gray-900"><%= link_to category.name, category_path(category) %></p>
    </div>
  </div>
</li>

