<% flash.each do |type, message| %>
  <div class="flash-message text-white <%= type %>-style p-4 flex items-center justify-between space-x-4 border" role="alert">
    <span class="flex-1 text-sm">
      <%= message %>
    </span>
    <button class="text-white hover:text-gray-700" onclick="this.parentElement.style.display='none';">
      &times;
    </button>
  </div>
  <hr>
<% end %>
